<manifest
xmlns:dist="http://schemas.android.com/apk/distribution"
package="com.renatoramos.rickandmorty.characters">

<dist:module dist:title="@string/title_episodes">
    <dist:delivery>
        <dist:on-demand/>
    </dist:delivery>
    <dist:fusing dist:include="true" />
</dist:module>

</manifest>